body {
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 200px;
}

.logo {
    color: #F9FAF8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.links{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding: 100px 200px;
    background-color: #1F2937; 
}

.intro-main {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.intro-img img{
    max-width: 800px;
}

.intro-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

.secondary {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #E5E7EB;
}

.sign {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
    font-weight: 900;
    align-self: flex-start;
    padding: 8px 24px;
}

.info {
    background-color: white;
    padding: 50px 200px 100px 200px;
}

.info-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 48px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.info-box img {
    width: 250px;
    height: 250px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 8px;
}

.thor {
    background-color: #E5E7EB;  
    padding: 100px 500px;
}

.quotation {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0;
}

.author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    text-align: right;
    padding-right: 100px;
}

.sign-up {
    background-color: white;
    padding: 100px 300px;
}

.call {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 8px;
}

.action {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.call .sign {
    border: 2px solid white;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer.secondary {
    font-size: 16px;
}